<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Halaman Login</title>
          <link href= "{{ url_for('static',filename='img/fav.png')}}" rel="icon">
          <link rel="stylesheet" href= "{{ url_for('static',filename='style.css')}}"
          
</head>
<body>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
   <form action= "{{ url_for('dashboard')}}" method="get" accept-charset="utf-8">
        <label for="">Email:</label>
        <input type="text" placeholder="Masukan Email" id="name">
        <label for="">Password:</label>
        <input type="password" placeholder="Masukan Password" id="sandi">
        <a href= "{{ url_for('dashboard')}}">
        <button type="submit" class="btn2">Login</button>
      </a>
</action>
       </div>
        </div>
          </div>
</body>
</html>